<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>
        Great authors
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <h1 class="">
        Author List
    </h1>

    <table class="table table-dark table-hover table-striped">
        <thead><tr>
    <th scope="col">ID</th>
    <th scope="col">First name</th>
    <th scope="col">Second name</th>
    <th scope="col">Books</th>
</tr>
        </thead>


        <tr th:each="author : ${authors}">
    <td th:text="${author.id}"></td>
    <td th:text="${author.firstName}"></td>
    <td th:text="${author.lastName}"></td>
    <td> <dl th:each="book : ${author.books}">
        <dd th:text="${book.title}"></dd>
    </dl>
    </td>
</tr>
    </table>
</body>

</html>