<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>
        Great books to read
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<h1>
    Book List
</h1>
<table  class="table table-hover">
        <thead class="thead-dark">
<tr>
    <th scope="col">ID</th>
    <th scope="col">Title</th>
    <th scope="col">Publisher</th>
    <th scope="col">Author</th>
</tr>
        </thead>

<tr th:each="book : ${books}">
    <td  th:text="${book.id}"></td>
    <td th:text="${book.title}"></td>
    <td th:text="${book.publisher.name}"></td>
    <td><dl th:each="author : ${book.authors}">
        <dd th:text="${author}">
        </dd>
        </dl>
    </td>
</tr>
    </table>

</body>

</html>